.StandardInput {
    width: 100%;
    padding: 0.25rem;
    border: 0.125rem solid var(--border);
    border-radius: 0.125rem;
    background-color: var(--post);
    color: var(--text);
    outline: none;

    &:focus {
        outline: none;
        border: 0.125rem solid var(--important);
        border-radius: 0.125rem;
    }

    &[data-type="header"] {
        font-size: 1.25rem;
        font-weight: bold;
    }

    &[data-type="body"] {
        resize: none;
    }
}