.ModalButton {
    user-select: none;
    padding: 0.5rem;
    border: 0.125rem solid var(--border);
    border-radius: 0.25rem;
    color: var(--text);
    line-height: 1;

    @media (hover: hover) {
        &:hover {
            opacity: 0.8;
        }
    }

    &[data-type="confirm"] {
        background-color: #f47561;
    }

    &[data-type="cancel"] {
        background-color: color-mix(in srgb, var(--credit), var(--background));
        color: inherit;
    }
}