@import "./_clear.scss";
@import "./_color.scss";
@import "./_font.scss";

.App {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    min-height: 100vh;
    background-color: var(--background);
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color 0.3s;

    .Main {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        .main-section {
            border: 0.25rem solid var(--border);
            border-radius: 0.5rem;
            padding: 1rem 1.25rem;
        }

        .section-title {
            font-family: "Didact Gothic", sans-serif;
            font-size: 2rem;
            color: var(--header);
            text-align: center;
            line-height: 1;
        }

        .wrapper {
            max-width: 64rem;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            margin: auto;
        }
    }
}

body {
    background-color: var(--background);
}

::-webkit-scrollbar {
    height: 1rem;
    width: 0.625rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--credit);
    border-radius: 9999rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

// Стили для планшетов (и мобилок ?)
@media (max-width: 768px) {
    .App {
        .Main {
            .main-section {
                border-left: 0;
                border-right: 0;
                border-radius: 0;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}
