.action-button {
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background: rgba(248, 248, 255, 0.7);
    border: 1px solid teal;
    border-radius: 2px;
    cursor: pointer;
    transition: background 0.05s ease-out;
    &:hover {
        background: teal;
        color: rgba(248, 248, 255);
    }
}