@import "./../../styles/_color.scss";
@import "./../../styles/_font.scss";

.Header__container {
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;

    .Header__nav {

    }

    .action-block {
        display: flex;
        gap: 2rem;
        height: 100%;

        .service-block {
            display: flex;
            gap: 0.75rem;
            align-items: center;
            justify-content: center;
            height: 100%;

            button {
                box-sizing: content-box;
                height: 1.5rem;
                width: 1.5rem;
                padding: 0.25rem;
                border-radius: 0.375rem;

                &:hover {
                    background-color: rgba(255,255,255,0.2);
                }
            }
        }

        .Header__theme-selection {
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            height: 100%;

            .theme-selector {
                width: 1.5rem;
                height: 1.5rem;
                border: 0.0625rem solid var(--theme);
                border-radius: 9999rem;
            }

            .theme-selector-active {
                border-width: 0.375rem;
            }

            .theme-selector-dark {
                background: radial-gradient(circle at top left, var(--dark-gradient-1),
                            var(--dark-gradient-2), var(--dark-gradient-3));
            }

            .theme-selector-light {
                background: radial-gradient(circle at top left, var(--light-gradient-1),
                            var(--light-gradient-2), var(--light-gradient-3));
            }

            .theme-selector-green {
                background: radial-gradient(circle at top left, var(--green-gradient-1),
                            var(--green-gradient-2), var(--green-gradient-3));
            }
        }
    }
}