@import "./../../../styles/_color.scss";

.default-input {
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--post);
    color: var(--text);
    outline: none;
}