.Footer {
    margin-top: auto;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--credit);
}

@media (max-width: 768px) {
    .Footer {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}