.StandardCheckbox {
    flex: 0 0 fit-content;
    display: flex;

    .flexbox {
        display: flex;
        gap: 0.125rem;
        width: fit-content;
        cursor: pointer;
        user-select: none;

        .checkbox {
            flex-shrink: 0;
            box-sizing: content-box;
            width: 1rem;
            height: 1rem;
            border: 0.125rem solid var(--border);
            border-radius: 0.125rem;
            background-color: var(--post);
            color: var(--text);
            outline: none;
        }

        .label {
            line-height: 1;
            border: 0.125rem solid transparent;
            border-radius: 0.125rem;
        }
    }

    .checked {
        .checkbox {
            background-color: var(--important);
        }
    }

    .visible {
        opacity: 1;
    }

    .invisible {
        opacity: 0;
    }
}